/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

* {
	box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

body {
	line-height: 1;
	background-color: #fffef8;
	display: grid;
	justify-content: center;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/** end reset css**/
body {
	max-width: 1440px;
	margin: auto;
	font-family: 'Work Sans';
	font-size: 14px;
}

a {
	color: initial;
	text-decoration: none;
}

#black-header {
	background-color: black;
	height: 50px;
	align-content: center;
	width: 100vw;
	margin: 0;
	padding: 0;
	left: 0;
	box-sizing: border-box;
	position: relative;
}

#black-header p {
	color: white;
	text-align: center;
}

header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0;
	width: 1140px;
	justify-self: center;
}

main {
	justify-self: center;
	width: 1140px;
}

section {
	margin: 50px 0;
	display: grid;
}

h1 {
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1>span {
	font-family: 'Work Sans';
	font-size: 10px;
	letter-spacing: 0.1em;
	;
}

h2,
button {
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}

nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;
	gap: 3em;
}

nav li {
	padding: 0 10px;
	font-size: 16px;
}

li:hover,
li a:hover {
	font-weight: 700;
	cursor: pointer;
}

#introduction {
	display: flex;
	align-items: center;
}

#introduction figure {
	flex: 1
}

#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1
}

#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}

.title {
	display: flex;
	justify-content: center;
	gap: 2em;
	align-items: center;
	margin-bottom: 4em;
	margin-top: 10em;
}

.title h2 {
	text-align: center;
	align-content: center;
}

#modify:hover {
	cursor: pointer;
}

body.modal-open {
	overflow: hidden;
}

#modal {
	position: fixed;
	overflow: auto;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.30);
	justify-content: center;
	align-items: center;
}

.modal-wrapper {
	overflow: auto;
	width: 630px;
	max-width: calc(100vw - 20px);
	height: 688px;
	max-height: calc(100vh - 20px);
	background-color: white;
	padding: 25px 35px 25px 35px;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.modal-wrapper h3 {
	font-size: 26px;
}

#wrapper1 h3 {
	margin-bottom: 50px;
}

.hide-modal {
	width: 100%;
	display: flex;
}

#wrapper1 .hide-modal {
	justify-content: flex-end;
}

#wrapper2 .hide-modal {
	justify-content: space-between;
}

#wrapper2 .line {
	margin-top: 2.5em;
	margin-bottom: 1em;
}

#close1,
#close2,
#back,
#add-work,
button,
button label,
select,
#img-work,
.fa-trash-can {
	cursor: pointer;
}

#back i,
#close1 i,
#close2 i {
	font-size: 21px;
}

.modal-gallery {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	width: auto;
	gap: 0.5em;
	row-gap: 2em;
}

.modal-gallery div {
	position: relative;
	width: 100%;
	height: 100px;
	overflow: hidden;
}

.fa-trash-can {
	position: absolute;
	right: 5px;
	top: 5px;
	color: white;
	font-size: 11px;
	background-color: black;
	padding: 3px 4px;
	border-radius: 2px;
}

.modal-gallery img {
	width: 77px;
	height: 100%;
	object-fit: cover;
	display: block;
}

.button {
	border: none;
	height: 36px;
	font-size: 14px;
	cursor: pointer;
}

.line {
	border: #b3b3b3 1px solid;
	margin-top: 70px;
	margin-bottom: 50px;
	width: 420px;
}

.button:disabled {
	background-color: #a7a7a7;
	cursor: default;
}

#add-file {
	background-color: #e8f1f6;
	width: 420px;
	height: 169px;
	border-radius: 3px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 1em;
	margin-top: 3em;
	position: relative;
}

.hidden {
	display: none;
}

#img-work {
	position: absolute;
	left: auto;
}

#add-file button {
	position: relative;
	background-color: #CBD6DC;
	color: #306685;
	font-family: 'Work Sans';
	font-size: 14px;
	font-weight: 500;
	border: none;
	width: 173px;
	height: 36px;
	border-radius: 50px;
}

#wrapper2 form {
	display: grid;
	gap: 1em;
}

#wrapper2 label {
	margin-top: 2em;
}

#img-file {
	visibility: hidden;
	position: absolute;
}

input,
select {
	height: 50px;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
	font-family: 'Work Sans';
	font-size: 14px;
	font-weight: 400;
	color: #444444;
}

input:focus-visible,
select:focus-visible {
	outline: none;
}

.filters {
	justify-self: center;
	display: flex;
	align-items: center;
	width: 585px;
	gap: 10px;
	margin-bottom: 3em;
}

.filters button {
	border: #1D6154 solid 1px;
	border-radius: 60px;
	font-size: 16px;
	height: 38px;
	flex-grow: 1;
	background-color: unset;
}

.filters button:hover,
.filters button:focus {
	background-color: #1D6154;
	color: white;
}

.gallery {
	justify-content: center;
	width: 100%;
	display: grid;
	grid-template-columns: 305px 305px 305px;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;
	height: 407px;
	object-fit: cover;
}

#contact {
	width: 50%;
	margin: auto;
}

#contact>* {
	text-align: center;

}

#contact h2 {
	margin-bottom: 20px;
}

#contact form {
	text-align: left;
	margin-top: 20px;
	display: flex;
	flex-direction: column;
	width: 379px;
	justify-self: center;
}

#contact input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

#contact label {
	margin: 2em 0 1em 0;
}

#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
	margin-bottom: 40px;
}

input[type="submit"],
.button {
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	justify-self: center;
	width: 237px;
	text-align: center;
	border-radius: 60px;
	align-self: center;
	height: 36px;
	min-height: 36px;
}

#add-work-success {
	justify-self: center;
}

footer {
	margin-top: 40px;
	height: 60px;
	background-color: #ffffff;
	display: flex;
	align-content: center;
	justify-content: flex-end;
}

footer nav ul {
	margin: 2em
}

footer nav ul li {
	font-weight: 300;
	font-size: 14px;
}